.cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.cardWrapper > a {
    text-decoration: none;
    color: var(--text);
    width: 100%;
}

@media (width >= 768px) {
    .cardWrapper > a {
        width: calc((100% - 16px)/2);
    }
}