.card {
    padding: 1rem;
    background-color: var(--background-2);
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    background-color: var(--background-3);
    box-shadow: 0px 0px 20px 0px rgba(25,25,25,0.75);
}