.navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 12px 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo_title {
    text-transform: uppercase;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.menu_item a {
    text-decoration: none;
    color: var(--text);
    transition: color 0.3s ease;
    font-size: clamp(1rem, 0.5rem + 1.3333vw, 1.25rem);
}

.menu_item a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary);
}