.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem 0;
}

.slideshow {
  width: 40rem;
  height: 25rem;
}

.image img {
  border-radius: 20px;
}

.hero {
  color: #ddd6cb;
  font-size: 1.5rem;
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  text-align: center;
  text-wrap: balance;
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  background: var(--primary);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.cta a:hover,
.cta a:active {
  background: var(--primary);
}

.cta a:first-child {
  background: transparent;
  font-weight: normal;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.cta a:first-child:hover,
.cta a:first-child:active {
  background: var(--primary);
  color: #ffffff;
}

.section {
  display: flex;
  flex-direction: column;
  color: #ddd6cb;
  font-size: 1.5rem;
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}